Repository jschless/armymarkdown: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, htmlhint

eslint:
  name: eslint
  entry: npx eslint
  language: node
  args:
  - -c
  - config/eslint.config.js
  - --fix
  additional_dependencies:
  - eslint@9.34.0

htmlhint:
  name: htmlhint
  entry: npx htmlhint
  language: node
  additional_dependencies:
  - htmlhint@1.6.3

Align pre-commit and GitHub Actions linting configurations
  .github/workflows/test.yml
  .pre-commit-config.yaml
  scripts/check-lint-consistency.sh
  tests/test_authentication.py
Due: none

Update production Docker Compose configuration to match development
  infrastructure/compose/docker-compose.yaml
  infrastructure/proxy/Dockerfile
Due: none

Add comprehensive user profile system with auto-population
  app/auth/login.py
  app/forms.py
  app/main.py
  db/schema.py
  templates/base.html
  templates/example_list.html
  templates/profile.html
  templates/register.html
Due: htmlhint

Fix GitHub Actions CI warnings and modernize testing infrastructure
  .github/workflows/test.yml
  README.md
  app/main.py
  pyproject.toml
  tests/test_pdf_generation_e2e.py
  uv.lock
Due: none

Fix LaTeX path in test expectation file
  tests/answer_test_tex_output_basic.tex
Due: none

Refactor infrastructure: Replace Celery/Redis with Huey, Nginx with Caddy
  .github/workflows/build-and-publish.yml
  .github/workflows/deploy.yml
  DEPLOYMENT.md
  app/auth/login.py
  app/forms.py
  app/main.py
  app/services/validation/__init__.py
  app/services/validation/input_validator.py
  app/services/validation/rules.py
  app/services/writer.py
  app/tasks.py
  db/schema.py
  infrastructure/aws/s3-lifecycle-rules.json
  infrastructure/compose/docker-compose-dev.yaml
  infrastructure/compose/docker-compose-production.yaml
  infrastructure/compose/docker-compose.yaml
  infrastructure/docker/Dockerfile
  infrastructure/docker/Dockerfile.development
  infrastructure/docker/supervisord.conf
  infrastructure/proxy/Caddyfile
  infrastructure/proxy/Dockerfile
  pyproject.toml
  scripts/deploy.sh
  scripts/server-setup.sh
  static/auto-save.js
  static/css/custom.css
  static/css/modern.css
  static/keyboard-shortcuts.js
  templates/base.html
  templates/index.html
  templates/login.html
  templates/memo_form.html
  tests/test_auto_save.py
  tests/test_keyboard_shortcuts.py
  uv.lock
Due: eslint, htmlhint

Fix: Make Docker Hub description update optional
  .github/workflows/build-and-publish.yml
Due: none

Fix: Disable Talisman force_https since Caddy handles SSL
  app/main.py
Due: none

Add local Caddyfile and improve compose file documentation
  infrastructure/compose/docker-compose-dev.yaml
  infrastructure/compose/docker-compose.yaml
  infrastructure/proxy/Caddyfile.local
Due: none

Remove automatic deploy trigger - Watchtower handles it
  .github/workflows/deploy.yml
Due: none

Repository cleanup and UI improvements
  .gitignore
  DEPLOYMENT.md
  Makefile
  README.md
  app/auth/login.py
  app/constants.py
  config/.pre-commit-config.yaml
  config/.stylelintrc.json
  docs/DEPLOYMENT.md
  docs/DEVELOPMENT.md
  scripts/celery.sh
  scripts/clear-redis-manual.sh
  scripts/clear-redis.py
  scripts/monitor-celery.py
  static/css/modern.css
  templates/base.html
  tests/conftest.py
  tests/test_authentication.py.bak2
  tests/test_authentication.py.bak3
  tests/test_flask_app.py.bak2
  tests/test_flask_app.py.bak3
  tests/test_forms.py.bak2
  tests/test_forms.py.bak3
  tests/test_forms.py.bak4
  tests/test_forms.py.bak5
  tests/test_general.py
  tests/test_integration.py.bak2
  tests/test_integration.py.bak3
Due: htmlhint

Add PDF validation feature for AR 25-50 compliance checking
  app/main.py
  app/services/validation/__init__.py
  app/services/validation/memo_model.py
  app/services/validation/pdf_parser.py
  app/services/validation/pdf_validator.py
  app/services/validation/rules.py
  app/tasks.py
  pyproject.toml
  static/css/modern.css
  static/form-validation.js
  static/pdf-validation.js
  static/text-editor-validation.js
  static/validation-rules.js
  templates/base.html
  templates/index.html
  templates/memo_form.html
  templates/validate.html
  templates/validation_history.html
  templates/validation_result.html
  tests/answer_test_tex_output_basic.tex
  tests/test_pdf_validation.py
  tests/test_validation_integration.py
  uv.lock
Due: eslint, htmlhint

Add Google OAuth infrastructure (disabled), spellcheck, and template fixes
  .env.example
  .pre-commit-config.yaml
  app/auth/login.py
  app/auth/oauth.py
  app/main.py
  db/schema.py
  pyproject.toml
  resources/examples/additional_duty_appointment.Amd
  resources/examples/cif_turn_in.Amd
  resources/examples/cq_sop.Amd
  resources/examples/leave_pass_policy.Amd
  resources/examples/long_memo.Amd
  resources/examples/lost_cac_card.Amd
  resources/examples/memo_extra_features.Amd
  resources/examples/memo_for.Amd
  resources/examples/memo_multi_for.Amd
  resources/examples/memo_thru.Amd
  resources/examples/tutorial.Amd
  resources/latex/DA_LOGO.png
  static/css/modern.css
  static/dictionaries/en_US.aff
  static/dictionaries/en_US.dic
  static/dictionaries/military-terms.txt
  static/lib/typo.js
  static/spellcheck.js
  static/text-editor-validation.js
  static/validation-rules.js
  templates/base.html
  templates/login.html
  templates/profile.html
  templates/register.html
Due: eslint, htmlhint

Add database migration for Google OAuth columns
  db/db.py
Due: none

Fix SQLite migration - use CREATE INDEX instead of UNIQUE constraint
  db/db.py
Due: none

Fix LaTeX compilation timeout - increase from 30s to 90s
  app/services/writer.py
Due: none

Switch from LuaLaTeX/Arial to pdflatex/Lato for faster compilation
  app/services/writer.py
  infrastructure/docker/Dockerfile
  infrastructure/docker/Dockerfile.development
  resources/latex/armymemo-notikz.cls
Due: none

Fix Docker LaTeX package installation
  infrastructure/docker/Dockerfile
  infrastructure/docker/Dockerfile.development
Due: none

Convert logo from PNG to PDF for faster compilation
  .gitignore
  resources/latex/DA_LOGO.pdf
  resources/latex/armymemo-notikz.cls
Due: none

Optimize LuaLaTeX compilation while keeping Arial font
  app/services/writer.py
  infrastructure/docker/Dockerfile
  infrastructure/docker/Dockerfile.development
  resources/latex/armymemo-notikz.cls
Due: none

Refactor web app to use armymemo Typst rendering
  Makefile
  README.md
  app/auth/login.py
  app/cli.py
  app/constants.py
  app/main.py
  app/memo_adapter.py
  app/models/memo_model.py
  app/services/utils.py
  app/services/validation/input_validator.py
  app/services/validation/pdf_validator.py
  app/services/writer.py
  app/tasks.py
  infrastructure/docker/Dockerfile
  infrastructure/docker/Dockerfile.development
  pyproject.toml
  pytest.ini
  templates/base.html
  templates/index.html
  templates/memo_form.html
  tests/conftest.py
  tests/test_auto_save.py
  tests/test_example_memos.py
  tests/test_flask_app.py
  tests/test_forms.py
  tests/test_general.py
  tests/test_input_validation.py
  tests/test_integration.py
  tests/test_keyboard_shortcuts.py
  tests/test_latex_escape_chars.py
  tests/test_memo_adapter.py
  tests/test_memo_model_comprehensive.py
  tests/test_tasks_typst.py
  uv.lock
Due: htmlhint

Fix anonymous example loading in web app
  app/main.py
Due: none

Fix Typst Docker install for arm64
  infrastructure/docker/Dockerfile
  infrastructure/docker/Dockerfile.development
Due: none

Limit Docker publishing to main
  .github/workflows/build-and-publish.yml
Due: none

Update armymemo for tutorial rendering fixes
  pyproject.toml
  uv.lock
Due: none

Return memo PDFs directly from app
  README.md
  app/main.py
  app/tasks.py
  pyproject.toml
  static/batch-upload.js
  static/tasks.js
  tests/conftest.py
  tests/test_flask_app.py
  tests/test_integration.py
  tests/test_tasks_typst.py
  uv.lock
Due: eslint

Clean up direct PDF documentation
  README.md
  app/constants.py
Due: none

Remove dead OAuth and S3 cleanup code
  app/auth/login.py
  app/auth/oauth.py
  app/main.py
  app/services/validation/rules.py
  app/tasks.py
  infrastructure/aws/s3-lifecycle-rules.json
  pyproject.toml
  templates/login.html
  templates/profile.html
  templates/register.html
  tests/test_flask_app.py
  uv.lock
Due: htmlhint

Add rendered memo review flow
  app/main.py
  app/tasks.py
  pyproject.toml
  static/css/modern.css
  static/form.js
  static/index.js
  static/tasks.js
  templates/base.html
  templates/index.html
  templates/memo_form.html
  tests/test_flask_app.py
  tests/test_tasks_typst.py
  uv.lock
Due: eslint, htmlhint

Delay PDF tab opening until render completes
  static/css/modern.css
  static/tasks.js
  templates/base.html
Due: eslint, htmlhint

Add live armymemo review to editors
  app/main.py
  app/services/validation/__init__.py
  app/services/validation/input_validator.py
  app/tasks.py
  pyproject.toml
  static/css/modern.css
  static/dictionaries/en_US.aff
  static/dictionaries/en_US.dic
  static/dictionaries/military-terms.txt
  static/form-validation.js
  static/lib/typo.js
  static/live-review.js
  static/spellcheck.js
  static/tasks.js
  static/text-editor-validation.js
  static/validation-rules.js
  templates/base.html
  templates/index.html
  templates/live_review_panel.html
  templates/memo_form.html
  tests/test_flask_app.py
  tests/test_pdf_validation.py
  tests/test_tasks_typst.py
  tests/test_validation_integration.py
  uv.lock
Due: eslint, htmlhint

Path conditions:
  eslint: any of: \.(js)$
  htmlhint: any of: \.(html)$
